<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div>{{ token }} repository</div>
<div>You are exploring {{ last_commit_hash }} commit</div>
<p>
    {% for c in commits %}
        <a href={{ url_for('file_preview', token=token, filename=c[1]) }}>{{ c[1] }}</a>
        {{ c[2].strftime('%Y-%m-%d %H:%M:%S') }} note: {{ c[3] }}<p>
    {% endfor %}
    <a href={{ url_for('list_commits', token=token) }}>Show all commits</a>
<div>Used {{ size }} of {{ max_size }} MB</div>
<p>
<div>
    To clone this repository at the state of {{ last_commit_hash }} commit press
    <form action={{ url_for('clone', token=token, commit=last_commit_hash) }}>
        <input type="submit" value="Clone"/>
    </form>
</div>
</body>
</html>